<section style="padding-top:25px;">
    <div ng-if="vm.isLoading >= 1">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup"
                                    data-value={{vm.totalBusiness}}>{{vm.totalBusiness}}</span>
                            </h3>
                            <small>BUSINESS</small>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-paperclip"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-red-haze">
                                <span data-counter="counterup" data-value={{vm.totalOrders}}>{{vm.totalOrders}}</span>
                            </h3>
                            <small>ORDERS</small>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-blue-sharp">
                                <span data-counter="counterup"
                                    data-value={{vm.totalBookings}}>{{vm.totalBookings}}</span>
                            </h3>
                            <small>BOOKINGS</small>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-purple-soft">
                                <span data-counter="counterup"
                                    data-value={{vm.totalConsignor}}>{{vm.totalConsignor}}</span>
                            </h3>
                            <small>CLIENTS</small>
                        </div>
                        <div class="icon">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-dm-12 row">
            <div id="pickup"></div>
        </div>

        <div class="col-dm-12 row">
            <div id="clients"></div>
        </div>
    </div>

    <div ng-if="vm.isLoading < 1">
        <div class="loader-wrapper" style="top: 50%;">
            <div class="TruckLoader">
                <div class="TruckLoader-cab"></div>
                <div class="TruckLoader-smoke"></div>
            </div>
            <hr />
        </div>
    </div>

</section>