<section>
    <div class="col-md-12" ng-show="vm.isLoading >= 1">
        <form name="vm.consignmentForm" class="form-horizontal">

            <div ng-hide="vm.isError">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="bill_date" class="col-sm-4 control-label">Consignment Date:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.consignmentDate | date:'dd/MMM/yyyy'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="bill_no" class="col-sm-4 control-label">Consignment Number:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.consignmentNo}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" tabindex="-1" href="#collapse1">Consignor Details</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignor_name" class="col-sm-4 control-label">Name:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignor.name}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="consignor_state"
                                                    class="col-sm-4 control-label">State:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignor.state}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="consignor_gstin_no" class="col-sm-4 control-label">GSTIN
                                                    No:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignor.gstno}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" tabindex="-1" href="#collapse2">Consignee Details</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="consignee_name" class="col-sm-4 control-label">Name:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignee.name}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="consignee_state"
                                                    class="col-sm-4 control-label">State:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignee.state}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="consignee_gstin_no" class="col-sm-4 control-label">GSTIN
                                                    No:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignee.getno}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" tabindex="-1" href="#collapse2">Biller Details</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="billing_name" class="col-sm-4 control-label">Code:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.billing.name}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="billing_state" class="col-sm-4 control-label">State:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.billing.state}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="billing_gstin_no" class="col-sm-4 control-label">GSTIN
                                                    No:</label>
                                                <div class="col-sm-8">{{vm.consignmentForm.consignee.gstno}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="invoiceNo" class="col-sm-4 control-label">Invoice Number:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.invoiceNo}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="from" class="col-sm-4 control-label">From:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.from}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="to" class="col-sm-4 control-label">To:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.to}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="noOfPkgs" class="col-sm-4 control-label">No. Of Pkgs:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.package}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="tobBat" class="col-sm-4 control-label">To B Bat:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.consignee.tobBat}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="consignmentType" class="col-sm-4 control-label">Consignment
                                        Type:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.consignmentType}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="acWtInKgs" class="col-sm-4 control-label">AC. WT. In KGS.</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.acWtInKgs}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="chWtInKgs" class="col-sm-4 control-label">CH. WT. In KGS.</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.chWtInKgs}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="baWtInKgs" class="col-sm-4 control-label">
                                        BA. WT. In KGS.</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.baWtInKgs}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="loadType" class="col-sm-4 control-label">Load Type:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.loadType}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="serviceTaxPayableBy" class="col-sm-4 control-label">Service Tax Payable
                                        By:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.serviceTaxPayableBy}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="freight" class="col-sm-4 control-label">Freight</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.freight}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="exCharges" class="col-sm-4 control-label">Ex. Charges:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.exCharges}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="matValue" class="col-sm-4 control-label">Mat. Value:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.matValue}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="wCnyN" class="col-sm-4 control-label">W. Cn.:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.wCnyN}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="material" class="col-sm-4 control-label">Material:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.material}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="dcNo" class="col-sm-4 control-label">DC No.</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.dcNo}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="custCode" class="col-sm-4 control-label">Cust. Code:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.custCode}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="totFrieght" class="col-sm-4 control-label">Total Frieght:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.totFrieght}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="serviceTax" class="col-sm-4 control-label">Service Tax:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.serviceTax}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="educationCess" class="col-sm-4 control-label">Education Cess:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.educationCess}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label for="remarks" class="col-sm-4 control-label">Remarks:</label>
                                    <div class="col-sm-8">{{vm.consignmentForm.remarks}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="loader-wrapper" ng-show="vm.isLoading < 1">
        <div class="truck-wrapper">
            <div class="truck">
                <div class="truck-container"></div>
                <div class="glases"></div>
                <div class="bonet"></div>

                <div class="base"></div>

                <div class="base-aux"></div>
                <div class="wheel-back"></div>
                <div class="wheel-front"></div>

                <div class="smoke"></div>
            </div>
        </div>
    </div>

</section>